.container {
  width: 100%;
  height: 100%;
}

.title {
  padding: 0.5em 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  width: 100%;
  height: 4em;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  position: relative;
}
