.container {
  width: 100%;
  min-height: 100vh;
  /* border: 1px solid red; */
}

.headerPopover {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: "var(--accent-primary)";
}

.infoPatient {
  border-radius: 4px;
  background-color: var(--bg-primary);
  transition: background-color 0.2s;
}
.choose {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.choose .confirm {
  background-color: green;
}

.choose .confirm:hover {
  background-color: rgb(0, 78, 0);
}

.choose .decline {
  background-color: red;
}

.choose .decline:hover {
  background-color: rgb(176, 0, 0);
}

.modalContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.modalDates {
  display: flex;
}

.customDates {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formContainerModal {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formModal {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
