.container {
  width: 100%;
  height: 100%;
}
.profileHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;

  margin-bottom: 2rem;
}

.nameSection {
  display: flex;
  align-items: center;
}

.buttonSection {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  flex-shrink: 0;
  background-color: var(--mantine-color-blue-0);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nameSection {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.userInfoGrid,
.medicalInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
